html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: auto;
    background: linear-gradient(
        to right,
        rgb(20, 20, 20),
        rgb(22, 28, 46)
    );
}

button {
    height: 70px;
    width: 110px;
    color: aliceblue;
    font-size: 23px;
    background-color: rgb(52, 52, 63);
    margin-bottom: 2px;
    border-radius: 10px;
    flex: 1;
    border: none; /* Remove the default border */
}

.calculator {
    margin: 150px 1000px 150px 400px;
    padding: 5px;
}

.screen {
    color: aliceblue;
    text-align: right;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.row {
    display: flex; /* Display buttons in each row as flex items */
    gap: 2px;
}

.operator {
    background-color: rgb(42, 42, 56);
}

.hover-light {
    background-color: rgb(42, 42, 56);
}

.hover-dark {
    background-color: rgb(52, 52, 63);
}

.click-light {
    background-color: rgb(38, 35, 46);
}

.equals {
    background-color: rgb(62, 59, 107);
}

.equals-hover {
    background-color: rgb(56, 53, 95);
}

.equals-click {
    background-color: rgb(48, 45, 78);
}